body{
  background-color: black;
  color: white;
}
body::-webkit-scrollbar{
  display: none;
}
.nav_bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #400D6D;
}
.search_bar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 20px;
  width: 30%;
  padding: 7px 10px;
  border: 2px solid white;
}
.search_bar input{
  border: none;
  background-color: black;
  color: white;
  width: 400px;
  margin-top: -5px;
}
.search_bar input::placeholder{
  font-weight: 500;
  color: white;
}
.search_bar input:focus{
  outline: none;
}

.sub_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: blueviolet;
}
.sub_bar .items{
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
}
.sub_bar .items:hover{
  background-color: black;
  border-radius: 5px;
  
}
/* td{
  vertical-align: center;
} */